/* Webfont: TANMEMORIES-Regular */@font-face {
    font-family: 'TAN-MEMORIES';
    src: url('MEMORIES-REG.woff2') format('woff2'), /* Modern Browsers */
         url('MEMORIES-REG.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

